---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Christopher Debray" description="About Christopher Debray Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Christopher Debray at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm Christopher Debray, a self-driven web developer who embarked on this exciting journey during the COVID-19 pandemic in 2020.
					</p>
					<p>
						I began my formal education in web development at EPITECH in September 2020 and gained practical experience as an intern at Club Employés in September 2021.
					</p>
					<p>
						I proudly graduated as the valedictorian of my class in 2022 and continued my education at ESGI in 2023, still interning at Club Employés.
						Now, I'm eager to pursue a Bac +5 degree at ESGI, and I'm actively seeking a new company to contribute my skills and passion for web development. Let's build the future together!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						<ul>
							<li>EPITECH - BAC + 2 (Full-stack web developer, valedictorian)</li>
							<ul>
								<li>Project-based teaching</li>
								<li>E-commerce project with Vue Js, Symfony and Docker</li>
							</ul>
							<li>ESGI - BAC + 3 (Full-stack web developer)</li>
							<ul>
								<li>Project-based teaching</li>
							</ul>
						</ul>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experiences</h2>
				<div class="content">
					<p>
						<ul>
							<li>Club Employés - 2 years</li>
							<ul>
								<li>Refonte du site en Symfony 4.4 monolithe, séparation du site en deux projets distincts :</li>
								<ul>
									<li>Une api en Symfony 6.1 avec utilisation d'API platform</li>
									<li>Visuel du site en Vue js 3.2 avec utilisation de typescript</li>
								</ul>
								<li>Création d'un module de jeu concours permettant aux entreprises de créer des jeux modulables pour leurs employés.</li>
								<li>Ajout d'un système de connexion SSO</li>
								<li>Refonte et optimisation du système de chèque ANCV Formation d'une développeuse junior pendant un mois</li>
							</ul>
						</ul>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li>Symfony (2 years)</li>
						<li>Vue Js (1 year)</li>
						<li>Php (3 years)</li>
						<li>Javascript (3 years)</li>
						<li>Jquery (1 years)</li>
						<li>MySQL (3 years)</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	section ul li {
		line-height: 2.5;
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
