---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Christopher Debray" description="Learn more about Christopher Debray and his career">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="https://media.istockphoto.com/id/1282503047/fr/photo/employ%C3%A9s-dentreprise-jouant-au-jeu-et-joignant-des-morceaux-de-puzzle-pendant-lactivit%C3%A9-de.jpg?s=612x612&w=0&k=20&c=uJTnZ7oTzrykFe952Gpl3CCFB3Mn5FS5D8bQDlNKHCc="
					alt="Representation of teamwork"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm Christopher Debray, a self-driven web developer who embarked on this exciting journey during the COVID-19 pandemic in 2020.
					</p>
					<p>
						I began my formal education in web development at EPITECH in September 2020 and gained practical experience as an intern at Club Employés in September 2021.
					</p>
					<p>
						I proudly graduated as the valedictorian of my class in 2022 and continued my education at ESGI in 2023, after the end of my formation with 2 years of experience at Club Employés i joined the company as a full-time employee.
					</p>
					<p>
						Now, I'm eager to pursue as a full-stack developer, currently i am focusing on learning Laravel and I'm actively looking to improve my skills and passion for web development !
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experiences</h2>
				<div class="content">
					<p>
						<ul>
							<li>Club Employés - 2 years and a half</li>
							<ul>
								<li>Website Overhaul in Symfony 4.4 Monolith, Splitting the Site into Two Separate Projects:</li>
								<ul>
									<li>An API using Symfony 6.1 with the utilization of API Platform.</li>
									<li>Visual elements of the site in Vue.js 3.2 with TypeScript.</li>
								</ul>
								<li>Development of a contest module, allowing companies to create customizable games for their employees.</li>
								<li>Implementation of a Single Sign-On (SSO) system.</li>
								<li>Revamping and optimizing the ANCV voucher system.</li>
								<li>Training a junior developer for one month.</li>
							</ul>
						</ul>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						<ul>
							<li>EPITECH - BAC + 2 (Full-stack web developer, valedictorian)</li>
							<ul>
								<li>Project-based teaching</li>
								<li>One year of internship at Club Employés - 1 week at school, 3 week at work</li>
							</ul>
							<li>ESGI - BAC + 3 (Full-stack web developer)</li>
							<ul>
								<li>Teaching with a mix of theory and practice</li>
								<li>One year of internship at Club Employés - 1 week at school, 3 week at work</li>
							</ul>
						</ul>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li>Technical</li>
						<ul>
							<li>Symfony (2 years)</li>
							<li>Laravel (self-training)</li>
							<li>Vue Js (1 year)</li>
							<li>React (self-training)</li>
							<li>Php (3 years)</li>
							<li>Javascript (3 years)</li>
							<li>Jquery (1 years)</li>
							<li>MySQL (3 years)</li>
						</ul>
					</ul>
					<ul>
						<li>Soft skills</li>
						<ul>
							<li>Pedagogue (formation of a junior developer on my own initiative for one month)</li>
							<li>Autonomous (multiple projects at Club Employés)</li>
							<li>Adaptable (multiple projects at Club Employés)</li>
							<li>Team spirit (working with an IT team at Club Employés)</li>
						</ul>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	section ul li {
		line-height: 2.5;
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
